
/* BEGIN EXTERNAL SOURCE */
div {
border: 0;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
li {
padding-left: 15px;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
div {
border: 0;
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
li {
padding-left: 15px;
}
/* END EXTERNAL SOURCE */
